<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender: Output log messages to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Log message pattern -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender: Output log messages to a file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/user-registration.log</file>
        <append>true</append>
        <encoder>
            <!-- Log message pattern -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger configuration for Spring Mail -->
    <logger name="org.springframework.mail" level="DEBUG" />

    <!-- Root Logger Configuration: Define the root logger level and its appenders -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" /> <!-- Corrected appender reference -->
    </root>

</configuration>

